### Haskell ###
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Operating System files
.DS_Store
Thumbs.db

# Misc
*.vim
*.md

# LaTeX
informe/*.aux
informe/*.fdb_latexmk
informe/*.fls
informe/*.log
informe/*.out
informe/*.synctex.gz
informe/*.toc
informe/*.bbl
informe/*.blg